server:
  port: 8080

spring:
  datasource:
    url: jdbc:mysql://localhost:3307/seatdb?serverTimezone=Asia/Seoul&characterEncoding=UTF-8
    username: seat
    password: seat
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  data:
    redis:
      host: localhost
      port: 6379
